{%extends 'shop/basic.html' %}
{% block title%} Contact Us {% endblock %}
{% block body%}
<div class="container my-3">
    <h3>Contact Us Regarding any query</h3>
<form action="/shop/contact/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
  </div>
     <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div>
     <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone"  name="phone" placeholder="Enter Contact Number">
  </div>
  <div class="form-group">
    <label for="desc">Your query</label>
    <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
  </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
{% endblock %}
{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
var x = 0
for(var key in cart)
{
x = x + cart[idstr];
}
console.log(x)
</script>
{%endblock%}
